/* Normalizar Navegador */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Globales */

html {
  font-size: 100%;
  /* 1rem = 10px */
  scroll-behavior: smooth;/* nos permite activar un desplazamiento suave (smooth scroll) al pulsar en un enlace de anclas <a>  */
}



/* Estilos para la imagen dentro del banner */
.banner-inicio picture {
  display: block;
  width: 100%;
  height: 20vw;
}

.banner-inicio img {
  width: 100%;
  height: 95%;
}

.logo {
  height: 6.5vw;
  width: 13vw;


}


/* Estilos para el menú de navegación */
nav {
  font-family: cursive;
  font-weight: 700;
}


ul.nav {
  display: flex;
  /* Hace que los elementos se muestren en línea */
  justify-content: space-between;
  /* Distribuye los elementos a lo largo del contenedor */
  align-items: center;
  /* Centra verticalmente los elementos */
  padding: 10px;
  /* Espacio interno del menú */
  font-size: 1.1vw;
}

ul.nav li {
  display: inline;
  /* Hace que los elementos se muestren en línea */
}

ul.nav li a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
}

ul.nav li a:hover {
  background-color: #F9F07A;
  border-radius: 10px;
  padding: 5px;
}


ul.nav li.no-hover a:hover {
  background-color: transparent;
  /* Cambia el color de fondo a transparente o el que desees */
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: initial;
  background-color: #FFD43B;
  min-width: 160px;
  z-index: 1;
  padding: 7px;
  border-radius: 10px;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content a {
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #F9F07A;
  border-radius: 10px;
  padding: 5px;
}




.btn {
  padding: 8px 16px;
  margin-left: 10px;
  /* Ajusta el margen entre el input y el botón según tus necesidades */
}

.search-form {
  display: flex;
  justify-content: end;
  border-radius: 2%;
  border: solid grey;
  box-shadow: 10px 10px 5px -4px rgba(170, 161, 161, 0.75);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(170, 161, 161, 0.75);
  -moz-box-shadow: 10px 10px 5px -4px rgba(170, 161, 161, 0.75);
}

.nav-search {
  width: 19.53vw;
  height: 1.95vw;
  font-family: cursive;
  font-size: 1.2vw;
  font-weight: 800;
}


.boton {
  width: 1.23vw;
  height: 1.23vw;
  cursor: pointer;
}

/* Header */
h1 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 3.2vw;
  margin: 20px 0px 35px 0px;
}

/* botones inicio,home, anterior */
.botones-fin {
  display: flex;
  /* Hace que los elementos se muestren en línea */
  justify-content: space-between;
  /* Distribuye los elementos a lo largo del contenedor */
  align-items: center;
  /* Centra verticalmente los elementos */
  padding: 15px;
  margin-top: 35px;
}


.botones-fin svg{
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}


/* Marquee */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #FFD43B;
  padding: 10px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
  font-size: 1.2vw;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; /* Ajusta la altura según tus necesidades */
}

.footer-medio, .footer-fin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 1.1vw;
}

.tel-mail, .footer-medio, .footer-fin {
  margin: 10px 0;
}

.tel-mail {
  text-align: center;
  font-size: 1.2vw;
  margin: 35px 0px 30px 0px;
}

.tel-mail a {
  text-decoration: none;
  color: black;
}

.footer-fin a {
  color: black;

}

.footer-fin .links:hover {
  background-color: #F9F07A;
  border-radius: 10px;
  padding: 5px;
}

.dropdown a:hover {
  background-color: #F9F07A;
  border-radius: 10px;
  padding: 5px;
}

.nav-1 {
  list-style-type: none;

}

.nav-2 {
  list-style-type: none;

}

/* Suscribite Estilos para el formulario de registro */

.suscribite {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 4px solid #ccc;
  border-radius: 20px;
  display: block;
  justify-content: center;
  font: 1.2vw cursive;
  background-color: #F9F07A;
}

.firstname {
  width: 90%;
  /* Cambia el valor de acuerdo al tamaño deseado */
  margin: 10px;
  /* Añade margen alrededor del contenedor si es necesario */
  padding: 5px;
  /* Añade relleno al contenedor si es necesario */
  border-radius: 5%;
  border: solid grey;
  box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -webkit-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -moz-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  margin-bottom: 35px;

}

.enviar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  border: solid grey;
  box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -webkit-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -moz-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  font: 1.5vw cursive;
}

.form-2 {
  flex: 1;

}

.form-1 {
  display: flex;
  flex-direction: row;
}

.form-3 {
  display: flex;
  flex-direction: row;
}

.form-5 {
  border: solid grey;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.form-6 {
  font-family: cursive;
  font-weight: bold;
  font-size: 1.6vw;
  text-align: center;
  margin-bottom: 35px;
  padding: 10px;
}

.form-7 {
  text-align: center;
  font-family: cursive;
  margin-bottom: 35px;
}

.form-8 {
  display: flex;
  flex-direction: row;

}

/* Agrega esta regla CSS en tu archivo estilos.css */
.main {
  padding: 20px;
  background-image: url("../img/webp/3.webp");
  /* Ruta relativa a la carpeta img */
  background-size: cover;
  /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center;
  /* Centra la imagen en el contenedor */
  margin-bottom: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.input-container {
  text-align: center;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  display: block;
  margin-bottom: 10px;
  margin: 0 auto;
}

/* Contacto */
.contac {
  text-align: center;
  font-family: cursive;
  font-size: 2vw;
  margin: 20px 0px 35px 0px;
}

.contac-1 {
  display: flex;
  justify-content: center;
}

.contac-2:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño del iframe al hacer hover */
}

.contac-2 {
  border: double gray;
  border-radius: 5%;
  box-shadow: 10px 10px 5px 0px rgba(165, 161, 161, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(165, 161, 161, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(165, 161, 161, 0.75);
  transition: transform 0.3s
}

.contac-3 {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.contac-4 {
  text-decoration: none;
  color: #000;
  font-size: 1.8vw;
  font-family: cursive;
  text-align: center;
  padding: 10px;
  background-color: #FFD43B;
  border: solid #4c4c4c;
  border-radius: 50%;
  box-shadow: 10px 10px 17px 0px rgba(188, 180, 180, 0.75);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(188, 180, 180, 0.75);
  -moz-box-shadow: 10px 10px 17px 0px rgba(188, 180, 180, 0.75);
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse; 
  animation-timing-function: ease; 
}

@keyframes example {
  0%   {background-color:#FDA403; left:0px; top:0px;}
  25%  {background-color:#E8751A; left:200px; top:0px;}
  50%  {background-color:#898121; left:200px; top:200px;}
  75%  {background-color:#E5C287; left:0px; top:200px;}
  100% {background-color:#FFD43B; left:0px; top:0px;}
}



.modalDialog {

  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 80%;
  height: 70%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.close {
  padding: 8px;
  background: #606061;
  color: white;
  line-height: 15px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 1.96vw;
  height: 1.96vw;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #F9F07A;
  color: #000;
}

.firstname-2 {
  width: 60%;
  /* Cambia el valor de acuerdo al tamaño deseado */
  margin: 5px;
  /* Añade margen alrededor del contenedor si es necesario */
  padding: 5px;
  /* Añade relleno al contenedor si es necesario */
  border-radius: 5%;
  border: solid grey;
  box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -webkit-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -moz-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
}

.contac-6 {
  flex: 1;
  text-align: center;
  font-family: cursive;
}

.contac-7 {
  display: flex;
  flex-direction: row;
}

.contac-8 {
  font-family: cursive;
  margin-bottom: 5px;
}

.contac-9 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 1.3vw;
  margin-top: 25px;
}

.contac-10 {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.contac-13 {
  display: flex;
  justify-content: space-around;
  margin: 15px 25px;
}

.contac-14 {
  width: 10%;
  height: auto;
  font-size: 1.2vw;
  font-family: cursive;
  margin-right: 20px;
  background-image: linear-gradient(to bottom, #FEF9A7, #F8DE22);
  border-radius: 50%;
  cursor: pointer;
}

.contac-15 {
  display: flex;
  justify-content: center;
}

.contac-15 button {
  width: 13%;
  height: auto;
  font-size: 1vw;
  font-family: cursive;
  border-radius: 50%;
  background-color: #F9F07A;
  cursor: pointer;
  padding: 1px;
}

.contac-15 input {
  width: 18%;
  font-size: 1vw;
  font-family: cursive;
}

.redes {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px;
}

.contac-11 {
  font-size: 1.96vw;
  font-family: cursive;
  text-align: center;
  font-weight: bold;
}




/* Historia */
.historia {
  font-family: cursive;
  font-size: 1.4vw;
  text-align: center;
  margin: 0px 70px;

}

.historia-1 {
  width: 40%;
  height: 20vw;
  border-radius: 50%;
}

.historia-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.historia-3 {
  width: 70%;
  height: 13vw;
  border-radius: 10%;
  transition: transform 0.5s;
}

.historia-3:hover {
  transform: scale(1.3);
}

.historia-5 {
  text-align: center;
  font-family: cursive;
  font-size: 2vw;
  margin: 40px 35px;
}

.historia-4 {
  grid-template-columns: 1fr;
  /* Una columna para cada item */
  gap: 10px;
  /* Espacio entre items */
  margin: 0px 55px 65px 55px;
  display: flex;
  justify-content: space-around;
  /* Espacio entre los elementos */
}

.historia-6 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 1.3vw;
  margin: 0px 170px;
}

.historia-item {
  text-align: center;
  /* Alineación del texto al centro */
  margin: 10px;
  /* Espacio alrededor de cada item */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Alineación horizontal al centro */
  justify-content: center;
  /* Alineación vertical al centro */
}

.historia-item p {
  margin-top: 10px;
  /* Espacio superior entre la imagen y el párrafo */
  font-size: 1.3vw;
  font-family: cursive;
  font-weight: bold;
}

.t-1 {
  background-color: black;
  color: white;
  font-family: cursive;
  font-size: 1.3vw;
}

.t-2 {
  background-color: #FFD43B;
  font-family: cursive;
  padding: 20px;
}

.t-3 {
  width: 75%;
  transition: transform 0.3s;
}

.t-3:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.t-4 {
  display: flex;
  justify-content: center;
}

/*Efecto*/
.modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-out;
  pointer-events: none;
}

.modalmask:target {
  opacity: 1;
  pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox {
  width: 100%;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;

}

/*Movimientos*/
.movedown {
  margin: 5% auto;
}

.rotate {
  margin: 5% auto;
  -webkit-transform: scale(-5, -5);
  transform: scale(-5, -5);
  transition: all 800ms ease-in-out;
}

.resize {
  margin: 5% auto;
  width: 0;
  height: 0;
}

.modalmask:target .movedown {
  width: 50%;
  height: 80%;
  font-family: cursive;
  font-size: 1vw;
  line-height: 32px;
  overflow-y: auto;
  /* Habilita el scroll vertical cuando el contenido excede la altura máxima */
  background-color: #FEF9A7;
  padding: 40px;
}

.modalmask:target .rotate {
  transform: rotate(360deg) scale(1, 1);
  -webkit-transform: rotate(360deg) scale(1, 1);
  width: 800px;
  height: 600px;
  font-family: cursive;
  font-size: 1vw;
  line-height: 32px;
  overflow-y: auto;
  /* Habilita el scroll vertical cuando el contenido excede la altura máxima */
  background-color: #FEF9A7;
  padding: 40px;
}



.modalmask:target .resize {
  width: 50%;
  height: 80%;
  font-family: cursive;
  font-size: 1vw;
  line-height: 32px;
  overflow-y: auto;
  /* Habilita el scroll vertical cuando el contenido excede la altura máxima */
  background-color: #FEF9A7;
  padding: 40px;
  margin-bottom: 35px;
}

/*Boton de cerrar*/
.close-historia {
  background: #111111;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;

}

.close-historia:hover {
  background: #FFD43B;
  color: #222;
}

.historia-modal h2 {
  text-align: center;
  margin: 15px;
}

.historia-modal img {
  width: 100%;
  height: 40%;
}


/* Galeria */

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 35px;
}

.foto .foto-1 {
  width: 13.1vw;
  height: 13.1vw;
  border: solid #606061;
  border-radius: 10%;
  transition: all .5s ease-in-out;
}

.foto .foto-1:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #4c4c4c;
  -webkit-box-shadow: 0px 0px 15px 15px #4c4c4c;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

/* Videos Galeria */

.videos {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.videos-item {
  text-align: center;
}

.videos-item a {
  text-decoration: none;
  color: #000;
}

.videos-item-2 {
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: cursive;
  font-size: 1.1vw;
}

.videos-item iframe {
  border: 2px solid;
}

.galeria-2 {
  font-family: cursive;
  font-size: 1.5vw;
  font-weight: lighter;
  text-align: center;
  margin: 45px 45px;
}

.galeria-3 {
  font-size: 4vw;
}

/* carrousel 3d */

.content-all {
  width: 13.7vw;
  margin: auto;
  perspective: 65.1vw;
  position: relative;
  margin-top: 60px;
  margin-bottom: 250px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 20s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 7.8vw;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 80px 0px black;
  transition: all 360ms;
}

.content-carrousel figure {
  box-shadow: 0px 0px 0px 0px black;
  transition: all 360ms;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}


.content-carrousel img {
  width: 100%;
  transition: all 360ms;
}

.content-carrousel img:hover {
  transform: scale(1.3);
  transition: all 360ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }

}



/* Pagos y Envios Carrousel */
.pagos {
  text-align: center;
  font-family: cursive;
  margin: 15px;
  font-size: 1.3vw;
  padding: 40px;
}

.pagos-2 {
  text-align: center;
  font-family: cursive;
}

.slider-box-pagos {
  width: 90%;
  height: 29.3vw;
  margin: 35px auto;
  overflow: hidden;
  border: #606061;
  box-shadow: 10px 10px 5px -5px rgba(116, 111, 111, 0.75);
  -webkit-box-shadow: 10px 10px 5px -5px rgba(116, 111, 111, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(116, 111, 111, 0.75);
}

.slider-box-pagos ul {
  display: flex;
  padding: 0;
  width: 356vw;
  animation: slide 20s infinite ease;
  transition: all .5s ease;

}

.slider-box-pagos li {
  width: 100%;
  list-style: none;
  position: relative;
}

.slider-box-pagos img {
  width: 100%;
  
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }

}

/* Preguntas */

section {
  width: 50%;
  padding: 4%;
  background-color: #FFD43B;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5%;
  border: solid #9CAFAA;
  box-shadow: 10px 10px 5px 0px rgba(76, 71, 71, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(76, 71, 71, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(76, 71, 71, 0.75);
}

summary {
  background-color: #606061;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-family: cursive;
  font-size: 1.2vw;
}

.pregunta-4 {
  text-align: center;
  font-family: cursive;
}

.pregunta {
  padding: 10px;
  background-image: linear-gradient(to bottom, #FEF9A7, #e7df6e);
  font-family: cursive;
  font-size: 1.2vw;
  border: solid #606061;
}

.pregunta-2 {
  list-style-type: none;
  background-image: linear-gradient(to bottom, #e7df6e, #FEF9A7);
  font-family: cursive;
  padding: 10px;
  font-size: 1.2vw;
  border: solid #606061;
}

/* inicio Carrousel */

.inicio {
  display: flex;
  text-align: center;
  font-family: cursive;
  font-size: 1.4vw;
  margin: 0px 70px;
}

.slider-box-inicio {
  width: 65.1vw;
  height: auto;
  margin: 35px auto;
  overflow: hidden;
}

.slider-box-inicio ul {
  display: flex;
  flex:auto;
  width: 400%;
  animation: slide 20s infinite ease-in;
  transition: all .5s ease-in-out;

}

.slider-box-inicio li {
  width: 100%;
  list-style: none;
  position: relative;
}

.slider-box-inicio img {
  width: 1000px;
  height: auto;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }

}

/* Main inicio */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
  padding: 10px;
  margin: 20px;
}
.item9 {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;
}
.grid-container .item {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Cambiamos a dirección de columna */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid-container img {
  width: 20vw;
  height: 15vw;
  transition: transform 0.3s;
}

.grid-container img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
}

.grid-container .item5:hover,
.grid-container .item6:hover,
.grid-container .item7:hover,
.grid-container .item8:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #FEF9A7;
  box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
}

.grid-container .item5,
.grid-container .item6,
.grid-container .item7,
.grid-container .item8 {
  
  background-color:#ccc;
  box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
}



.grid-container h4 {
  padding: 10px;
  font-family: cursive;
  font-size: 1.5vw;
}

.grid-container p{
  font-family: cursive;
  padding: 10px;
}


.galeriados{
  display: flex;
  overflow-x: hidden;
  padding: 16px;
}

.card{
  margin-right: 10px;
  position: relative;
}

.card img{
  width: 190px;
  object-fit: cover;
  height: 300px;
  gap: 20px;
  animation: rotar 15s infinite linear;
  transform-style:preserve-3d; 
}

.card img:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.cuerpo-card {
  position: relative;
  bottom: 0;
  padding: 10px;
  background-color: rgba(116, 111, 111, 0.4);
  text-align: center;
  font-size: 1.1vw;
  font-family: cursive;
  width: 100%;
  margin-bottom: 4px;
  border-radius: 50%;
  }


.galeriados-2{
  font-size: 3.5vw;
  font-family: cursive;
  margin: 50px 0px 30px 0px;
  text-align: center;
}


/* INDEX */

.arti1 { grid-area: banner-inicio; }
.arti2 { grid-area: nav; }
.arti3 { grid-area: header; }
.arti4 { grid-area: main; }
.arti5 { grid-area: botones-fin; }
.arti6 { grid-area: marquee; }
.arti7 { grid-area: footer; }

.grid-contenedor {
  display: grid;
  grid-template-areas: 'banner-inicio banner-inicio banner-inicio'
                       'nav nav nav'
                       'header header header'
                       'main main main'
                       'botones-fin botones-fin botones-fin'
                       'marquee marquee marquee'
                       'footer footer footer';
  gap: 10px; 
}

/* CELULARES */
/* Medias Querys/Breakpoints/Responsive */
@media (100px <= width <= 460px){ /*(min-width: 100px) and (max-width: 460px)*/
	.grid-contenedor {
    grid-template-areas: 'banner-inicio'
                         'nav'
                         'header'
                         'main'
                         'botones-fin'
                         'marquee'
                         'footer';
  }
 }

/* TABLET */
@media (461px <= width <= 768px){/*(min-width: 461px) and (max-width: 768px)*/
	.grid-contenedor {
    grid-template-areas: 'banner-inicio banner-inicio'
                         'nav nav'
                         'header header'
                         'main main'
                         'botones-fin botones-fin'
                         'marquee marquee'
                         'footer footer';
  }
}

/* PC */
@media (769px <= width){/*(min-width: 769px) and (max-width: .....)*/
	.grid-contenedor {
    grid-template-areas: 'banner-inicio banner-inicio banner-inicio'
                         'nav nav nav'
                         'header header header'
                         'main main main'
                         'botones-fin botones-fin botones-fin'
                         'marquee marquee marquee'
                         'footer footer footer';
  }
}

/* PRODUCTOS */
.articulo1 { grid-area: banner-inicio; }
.articulo2 { grid-area: nav; }
.articulo3 { grid-area: header; }
.articulo4 { grid-area: main; }
.articulo5 { grid-area: botones-fin; }
.articulo6 { grid-area: marquee; }
.articulo7 { grid-area: footer; }


.grid-contenedor2 {
  display: grid;
  grid-template-areas: 'banner-inicio banner-inicio banner-inicio'
                       'nav nav nav'
                       'header header header'
                       'main main main'
                       'botones-fin botones-fin botones-fin'
                       'marquee marquee marquee'
                       'footer footer footer';
  gap: 10px;                     
}

/* CELULARES */
/* Medias Querys/Breakpoints/Responsive */
@media (100px <= width <= 460px){ /*(min-width: 100px) and (max-width: 460px)*/
	.grid-contenedor2 {
    grid-template-areas: 'banner-inicio'
                         'nav'
                         'header'
                         'main'
                         'botones-fin'
                         'marquee'
                         'footer';
  }

  
  .tel-mail,
  .footer-medio,
  .footer-fin{
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  
.botones-fin{
  display: flex;
  justify-content: start;
  gap: 40px;
}

.botones-fin svg{
  width: 7vw;
  height: 7vw;
}

.marquee span{
  font-size: 4vw;
}

.footer-medio{
  gap: 20px;
  text-align: start;
}

  .nav-3{
    margin: 15px 0px;
    width: 65vw;
    height: 15vw;

  }

  .nav-3 svg{
    width: 13vw;
    height: 5vw;
  }

  .nav-3 input{
    width: 65vw;
    height: 15vw;
    font-size: 3vw;
  }

  .container__cartas{
    flex-direction: column;
    justify-content: center;
  }

  .cartas .description h2,
  .cartas .description h4,
  .cartas .description p{
    margin:10px 85px;
    padding: 20px;
    font-size: 5vw;
  }

  .cartas {
    flex:auto;
    max-width: 30%;
    height: auto;
  } 
  .cartas .description input{
    background-color: #606061;
    overflow: hidden;
  }

  .cartas .description input:hover{
    transform: scale(1.1);
    font-size: 6.5vw;
    width: 25%;
    padding: 10px; /* Espacio interno del input */
    box-sizing: border-box; /* Incluir padding en el ancho total */
}
}


/* TABLET */
@media (461px <= width <= 768px){/*(min-width: 461px) and (max-width: 768px)*/
	.grid-contenedor2 {
    grid-template-areas: 'banner-inicio banner-inicio'
                         'nav nav'
                         'header header'
                         'main main'
                         'botones-fin botones-fin'
                         'marquee marquee'
                         'footer footer';
                        
  }
  
.container__cartas{
  flex-direction: column;
  justify-content: center;
}

  .cartas .description h2,
  .cartas .description h4,
  .cartas .description p{
    margin:10px 80px;
    padding: 20px;
  }

  .cartas {
    flex:auto;
    max-width: 28%;
    height: auto;
  } 
  .cartas .description input{
    background-color: #e7df6e;
  }

  .cartas .description input:hover{
    transform: scale(1.3);
    font-size: 2vw;
  }
}

/* PC */
@media (769px <= width){/*(min-width: 769px) and (max-width: .....)*/
	.grid-contenedor2 {
    grid-template-areas: 'banner-inicio banner-inicio banner-inicio'
                         'nav nav nav'
                         'header header header'
                         'main main main'
                         'botones-fin botones-fin botones-fin'
                         'marquee marquee marquee'
                         'footer footer footer';
  }
  
}

.container__cartas{
  max-width: 1400px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Cambiado a wrap para permitir envolver las cartas */
  justify-content: space-between;
}

.cartas {
  flex: 0 1 calc(33.33% - 20px); /* Ancho flexible para mostrar 3 cartas por fila con margen */
  margin: 10px; 
  padding: 10px;
  border: #222 solid;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

/* Resto de tus estilos para .cover, .description, etc. */

.cartas .cover {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: #222;
}

.cartas .cover img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  position: relative;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
  object-fit: cover;
}

.cartas .description{
 padding: 5px;
  text-align: center; /* Centrar el texto */
}

.cartas .description h2{
  margin-top: 10px;
  font-family: cursive;
}

.cartas .description h4{
  margin-top: 10px;
  font-family: cursive;
}

.cartas .description p{
  margin-top: 10px;
  font-family: cursive;
}

.productos-parra{
  margin: 0px 40px 40px 40px;
  font-family: cursive;
  font-size: 2vw;
  text-align: center;
}

.cartas .description input {
  padding: 10px 40px;
  margin-top: 20px;
  border: solid #222; /* Corregí el valor de border */
  font-weight: bold; /* En lugar de 'font', usa 'font-weight' */
  font-size: 1vw;
  font-family: cursive;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}

  
.cartas .description input:hover{
  transform: scale(1.1);
  color: #222;
  background-color: #F9F07A;
}


/* Producto */

.articulos1 { grid-area: banner-inicio; }
.articulos2 { grid-area: nav; }
.articulos3 { grid-area: header; }
.articulos4 { grid-area: main; }
.articulos5 { grid-area: botones-fin; }
.articulos6 { grid-area: marquee; }
.articulos7 { grid-area: footer; }

.grid-contenedor3 {
  display: grid;
  grid-template-areas: 'banner-inicio banner-inicio banner-inicio'
                       'nav nav nav'
                       'header header header'
                       'main main main'
                       'botones-fin botones-fin botones-fin'
                       'marquee marquee marquee'
                       'footer footer footer';
  gap: 10px;                     
}

/* CELULARES */
@media (min-width: 100px) and (max-width: 460px) {
  .grid-contenedor3 {
    grid-template-areas: 'banner-inicio'
                         'nav'
                         'header'
                         'main'
                         'botones-fin'
                         'marquee'
                         'footer';
    gap: 20px;
  }

  .tel-mail,
  .footer-medio,
  .footer-fin{
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .botones-fin{
    display: flex;
    justify-content: start;
    gap: 40px;
  }

  .botones-fin svg{
    width: 7vw;
    height: 7vw;
  }

  .marquee span{
    font-size: 4vw;
  }

  .footer-medio{
    gap: 20px;
    text-align: start;
  }

  .nav-3{
    margin: 15px 0px;
    width: 70vw;
    height: 15vw;
  }

  .nav-3 svg{
    width: 13vw;
    height: 5vw;
  }

  .nav-3 input{
    width: 70vw;
    height: 15vw;
    font-size: 3vw;
  }

  .tarjetas a{
    display: flex;
    margin: 40px;
    text-decoration: none;
  }

  .telefono p{
    font-size: 8vw;
    text-decoration: none;
  }
}

/* TABLET */
@media (min-width: 461px) and (max-width: 768px) {
  .grid-contenedor3 {
    grid-template-areas: 'banner-inicio banner-inicio'
                         'nav nav'
                         'header header'
                         'main main'
                         'botones-fin botones-fin'
                         'marquee marquee'
                         'footer footer';
  }
}

/* PC */
@media (min-width: 769px) {
  .grid-contenedor3 {
    grid-template-areas: 'banner-inicio banner-inicio banner-inicio'
                         'nav nav nav'
                         'header header header'
                         'main main main'
                         'botones-fin botones-fin botones-fin'
                         'marquee marquee marquee'
                         'footer footer footer';
  }
}

.container__cartas2 {
  max-width: 1400px;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cartas2 {
  margin: 10px; 
  padding: 10px;
  border: #222 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartas2 .cover2 {
  width: 50%;
  height: auto;
  position: relative;
  background-color: #222;
}

.cartas2 .cover2 img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
  object-fit: cover;
}

.cartas2 .description2 {
  width: 50%;
  padding: 15px;
  text-align: center;
  margin: 10px;
}

.cartas2 .description2 h2{
  font-family: cursive;
  font-size: 2.5vw;
}

.cartas2 .description2 h3{
  margin-top: 15px;
  font-family: cursive;
  font-size: 2vw;
}

.cartas2 .description2 h4{
  margin-top: 15px;
  font-family: cursive;
  font-size: 1.2vw;
}

.cartas2 .description2 p{
  margin-top: 10px;
  font-family: cursive;
  font-size: 1.2vw;
}

.cartas2 .description2 input {
  padding: 10px 40px;
  margin-top: 20px;
  border: solid #222;
  font-weight: bold;
  font-size: 1vw;
  font-family: cursive;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}

.cartas2 .description2 input:hover{
  transform: scale(1.1);
  color: #222;
  background-color: #F9F07A;
}

.producto {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
