.pagos {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  margin: 15px;
  font-size: 1.3vw;
  padding: 40px;
}

.pagos-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: cursive;
}

.pagos-fin {
  display: block;
  justify-content: center;
}

.slider-box-inicio-2 {
  width: 65.1vw;
  height: auto;
  margin: 35px auto;
  overflow: hidden;
}

.slider-box-inicio-2 ul {
  display: flex;
  flex: auto;
  width: 400%;
  animation: slide 20s ease-in infinite;
  transition: all 0.5s ease-in-out;
}

.slider-box-inicio-2 li {
  width: 100%;
  list-style: none;
  position: relative;
}

.slider-box-inicio-2 img {
  width: 1000px;
  height: 500px;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}



.input2 {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 1vw;
}

.label2 {
  font-size: 1.2vw;
  font-family: cursive;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.calculadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
  margin-left: 37%;
  padding: 5px;
  letter-spacing: 0.5px;
  background-image: linear-gradient(to bottom, #FFF2E1, #EAD8C0, #D1BB9E, #A79277);
}

.calculadora3 {
  height: 630px;
  display: none;
  background-image: linear-gradient(to bottom, #FEF9A7, #F8DE22);
}

.calculadora4 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.button {
  font-size: 1.2vw;
  font-family: cursive;
  font-weight: bold;
  border-radius: 50%;
  padding: 8px;
  background-color: #A79277;
  cursor: pointer;
  color: #ffffff;
}

.button:hover {
  background-color: #F8DE22;
  color:#000000;
}

.button2 {
  display: block;
  justify-content: center;
  font-size: 1.2vw;
  font-family: cursive;
  font-weight: bold;
  border-radius: 50%;
  padding: 15px;
  background-image: linear-gradient(to bottom, #FEF9A7, #F8DE22);
  cursor: pointer;
}