/* Suscribite Estilos para el formulario de registro */

.suscribite {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 4px solid #ccc;
  border-radius: 20px;
  display: block;
  justify-content: center;
  font: 1.2vw cursive;
  background-color: #F9F07A;
}

.firstname {
  width: 90%;
  /* Cambia el valor de acuerdo al tamaño deseado */
  margin: 10px;
  /* Añade margen alrededor del contenedor si es necesario */
  padding: 5px;
  /* Añade relleno al contenedor si es necesario */
  border-radius: 5%;
  border: solid grey;
  box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -webkit-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -moz-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  margin-bottom: 35px;

}

.enviar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  border: solid grey;
  box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -webkit-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  -moz-box-shadow: 6px 9px 0px -2px rgba(118, 111, 111, 0.42);
  font: 1.5vw cursive;
}

.enviar:hover {
  cursor: pointer;
  background-color: grey;
}

.form-2 {
  flex: 1;
  text-align: center;
}

.form-1 {
  display: flex;
  flex-direction: row;
}

.form-3 {
  display: flex;
  flex-direction: row;
}

.form-5 {
  border: solid grey;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.form-6 {
  font-family: cursive;
  font-weight: bold;
  font-size: 1.6vw;
  text-align: center;
  margin-bottom: 35px;
  color: #ffffff;
}

.form-7 {
  text-align: center;
  font-family: cursive;
  margin-bottom: 35px;
}

.form-8 {
  display: flex;
  flex-direction: row;

}

/* Agrega esta regla CSS en tu archivo estilos.css */
.main {
  padding: 20px;
  background-image: url("../img/webp/3.webp");
  /* Ruta relativa a la carpeta img */
  background-size: cover;
  /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center;
  /* Centra la imagen en el contenedor */
  margin-bottom: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.input-container {
  text-align: center;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  display: block;
  margin-bottom: 10px;
  margin: 0 auto;
}

.gracias{
  width: 40%;
  height: 40%;
  border-radius: 5%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.enviar22 {
  text-decoration: none;
  color: #000;
  border: solid #4c4c4c;
  text-align: center;
  width: 10%;
  height: auto;
  font-size: 1.2vw;
  font-family: cursive;
  margin-right: 20px;
  background-image: linear-gradient(to bottom, #FEF9A7, #F8DE22);
  border-radius: 50%;
  cursor: pointer;
}

.modalDialog {
 text-align: center;
  position: fixed;
  font-family: cursive;
  font-size: 1.5vw;
  line-height: 3vw;
  letter-spacing: .3vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 80%;
  position: relative;
  margin: 2% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #6DC5D1);
  background: -webkit-linear-gradient(#fff, #6DC5D1);
  background: -o-linear-gradient(#fff, #6DC5D1);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.close {
  padding: 8px;
  background: #606061;
  color: white;
  line-height: 15px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 1.96vw;
  height: 1.96vw;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #6DC5D1;
  color: #000;
}