/* Normalizar Navegador */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Globales */

html {
  font-size: 100%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
  /* nos permite activar un desplazamiento suave (smooth scroll) al pulsar en un enlace de anclas <a>  */
}



.error404-2 {
  text-align: center;
}

.error404-3 {
  width: 30%;
  height: 27vw;
  border-radius: 50%;
}

.error404-4 {
  background-image: linear-gradient(to bottom, #D8EFD3, #95D2B3, #55AD9B, #B3E2A7);
}

/* Estilos para la imagen dentro del banner */
.banner-inicio picture {
  display: block;
  width: 100%;
  height: 20vw;
}

.banner-inicio img {
  width: 100%;
  height: 95%;
}

.logo {
  height: 6.5vw;
  width: 13vw;


}


/* Estilos para el menú de navegación */
nav {
  font-family: cursive;
  font-weight: 700;
}


ul.nav {
  display: flex;
  /* Hace que los elementos se muestren en línea */
  justify-content: space-between;
  /* Distribuye los elementos a lo largo del contenedor */
  align-items: center;
  /* Centra verticalmente los elementos */
  padding: 3px;
  /* Espacio interno del menú */
  font-size: 1vw;
}

ul.nav li {
  display: inline;
  /* Hace que los elementos se muestren en línea */
}

ul.nav li a {
  color: black;
  text-decoration: none;
  padding: 5px 2px;
}

ul.nav li a:hover {
  background-color: #F9F07A;
  border-radius: 10px;
  padding: 5px;
}


ul.nav li.no-hover a:hover {
  background-color: transparent;
  /* Cambia el color de fondo a transparente o el que desees */
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: initial;
  background-color: #FFD43B;
  min-width: 160px;
  z-index: 1;
  padding: 7px;
  border-radius: 10px;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content a {
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #F9F07A;
  border-radius: 10px;
  padding: 5px;
}

.btn {
  padding: 8px 16px;
  margin-left: 10px;
  /* Ajusta el margen entre el input y el botón según tus necesidades */
}

.search-form {
  display: flex;
  justify-content: end;
  border-radius: 2%;
  border: solid grey;
  box-shadow: 10px 10px 5px -4px rgba(170, 161, 161, 0.75);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(170, 161, 161, 0.75);
  -moz-box-shadow: 10px 10px 5px -4px rgba(170, 161, 161, 0.75);
}

.nav-search {
  width: 20vw;
  height: 2.5vw;
  font-family: cursive;
  font-size: 1vw;
  font-weight: 800;
}


.boton {
  width: 1.23vw;
  height: 1.23vw;
  cursor: pointer;
}

/* Header */
h1 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 3vw;
  margin: 20px 0px 35px 0px;
}

/* H2 */
.contac {
  text-align: center;
  font-family: cursive;
  font-size: 2vw;
  margin: 20px 0px 35px 0px;
}

/* botones inicio,home, anterior */
.botones-fin {
  display: flex;
  /* Hace que los elementos se muestren en línea */
  justify-content: space-between;
  /* Distribuye los elementos a lo largo del contenedor */
  align-items: center;
  /* Centra verticalmente los elementos */
  padding: 15px;
  margin-top: 35px;
}


.botones-fin svg {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}

.ultimo {
  margin: 0 auto;
}

/* Marquee */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #FFD43B;
  padding: 10px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
  font-size: 1.2vw;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* Ajusta la altura según tus necesidades */
}

.footer-medio,
.footer-fin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 1.1vw;
}

.tel-mail,
.footer-medio,
.footer-fin {
  margin: 10px 0;
}

.tel-mail {
  text-align: center;
  font-size: 1.2vw;
  margin: 35px 0px 30px 0px;
}

.tel-mail a {
  text-decoration: none;
  color: black;
}

.footer-fin a {
  color: black;

}

.footer-fin .links:hover {
  background-color: #F9F07A;
  border-radius: 10px;
  padding: 5px;
}

.dropdown a:hover {
  background-color: #F9F07A;
  border-radius: 10px;
  padding: 5px;
}

.nav-1 {
  list-style-type: none;

}

.nav-2 {
  list-style-type: none;

}

/* Todas las vistas*/

.articulo1 {
  grid-area: banner-inicio;
}

.articulo2 {
  grid-area: nav;
}

.articulo3 {
  grid-area: header;
}

.articulo4 {
  grid-area: main;
}

.articulo5 {
  grid-area: botones-fin;
}

.articulo6 {
  grid-area: marquee;
}

.articulo7 {
  grid-area: footer;
}


.logout {
  margin-left: 90%;
}


.grid-contenedor {
  display: grid;
  grid-template-areas: 'banner-inicio banner-inicio banner-inicio'
    'nav nav nav'
    'header header header'
    'main main main'
    'botones-fin botones-fin botones-fin'
    'marquee marquee marquee'
    'footer footer footer';
  gap: 10px;
}

/* CELULARES */
/* Medias Querys/Breakpoints/Responsive */
@media (100px <=width <=460px) {

  /*(min-width: 100px) and (max-width: 460px)*/
  .grid-contenedor {
    grid-template-areas: 'banner-inicio'
      'nav'
      'header'
      'main'
      'botones-fin'
      'marquee'
      'footer';
  }

  h1 {
    display: flex;
    justify-content: start;
    margin-left: 2%;
    margin-bottom: 0;
    font-size: 7vw;
  }

  ul.nav {
    display: flex;
    /* Hace que los elementos se muestren en línea */
    flex-direction: column;

    justify-content: start;
    /* Distribuye los elementos a lo largo del contenedor */
    align-items: start;
    /* Centra verticalmente los elementos */
    gap: 20px;
    /* Espacio interno del menú */
    font-size: 4vw;

  }

  ul.nav li,
  ul.nav-1 li,
  ul.nav-2 li {
    display: block;
    background-color: #FFFFFF;
    margin-top: 5%;
    font-weight: bold;
  }



  .dropdown-content {
    background-color: #ffffff;
    font-size: 4.5vw;
    border-radius: 0px;
    padding: 0px;
    max-width: 11%;
  }

  .nav {
    margin-left: 27px;
  }

  .logo {
    width: 70px;
    height: 60px;
  }

  .nav-search {
    width: 41vw;
    height: 15vw;
    font-size: 5vw;

  }

  .boton {
    width: 10vw;
    height: auto;
  }


  .tel-mail,
  .footer-medio,
  .footer-fin {
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .tel-mail {
    text-align: start;
    margin: 0px 0px 0px 12px;
    width: 100%;
    padding: 5px;
  }

  .botones-fin {
    display: flex;
    justify-content: start;
    gap: 29vw;
  }

  .botones-fin svg {
    width: 6vw;
    height: 6vw;
  }

  .marquee span {
    font-size: 4vw;
  }

  .footer-medio {
    gap: 20px;
    text-align: start;
  }

  .nav-3 {
    margin: 15px 0px;
    width: 65vw;
    height: 15vw;

  }

  .nav-3 svg {
    width: 13vw;
    height: 5vw;
  }

  .nav-3 input {
    width: 69vw;
    height: 15vw;
    font-size: 3vw;
  }



}

/* TABLET */
@media (461px <=width <=768px) {

  /*(min-width: 461px) and (max-width: 768px)*/
  .grid-contenedor {
    grid-template-areas: 'banner-inicio banner-inicio'
      'nav nav'
      'header header'
      'main main'
      'botones-fin botones-fin'
      'marquee marquee'
      'footer footer';
  }

  .nav-search {
    width: 20vw;
    height: 4.3vw;
    font-size: 1.5vw;
  }

}

/* PC */
@media (769px <=width) {

  /*(min-width: 769px) and (max-width: .....)*/
  .grid-contenedor {
    grid-template-areas: 'banner-inicio banner-inicio banner-inicio'
      'nav nav nav'
      'header header header'
      'main main main'
      'botones-fin botones-fin botones-fin'
      'marquee marquee marquee'
      'footer footer footer';
  }


}