html {
    scroll-behavior: smooth;
}


h1 {
    text-align: center;
    font-family: cursive;
    font-size: 3.5vw;
}

h2 {
    text-align: center;
    font-family: cursive;
    font-size: 2.5vw;
}

h4 {
    text-align: center;
    font-family: cursive;
    font-size: 1.5vw;
    margin-left: 65%;
}

td {
    text-align: center;
    font-family: cursive;
    font-size: 1vw;
    border: solid;
    padding: 5px;
}

table {
    border: solid;
    width: 100%;
}

/* botones inicio,home, anterior */
.botones-fin {
    display: flex;
    /* Hace que los elementos se muestren en línea */
    justify-content: space-between;
    /* Distribuye los elementos a lo largo del contenedor */
    align-items: center;
    /* Centra verticalmente los elementos */
    padding: 15px;
    margin-top: 35px;
}


.botones-fin svg {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
}

.ultimo {
    margin: 0 auto;
}

/* Marquee */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #FFD43B;
    padding: 10px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
    font-size: 1.2vw;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.logo {
    border-radius: 50%;
    height: 150px;
    width: 200px;
}

.logos {
    display: flex;
    justify-content: center;
}

.modificar {
    cursor: pointer;
    margin-left: 15px;
}

.actual {
    margin-left: 40%;
    width: 20vw;
    height: 11vw;
    border: solid;
    border-radius: 3%;
}

input,
select {
    margin-left: 40%;
    width: 20vw;
    height: 2.5vw;
    font-family: cursive;
    font-size: 1vw;
    font-weight: bolder;
    box-shadow: 10px 10px 5px -4px rgba(170, 161, 161, 0.75);
    text-align: center;
    border: solid;
    cursor: pointer;
}


.btn1 {
    width: 15vw;
    height: 2.5vw;
    margin-left: 0%;
    background-color: yellow;
    color: #000;
    font-family: cursive;
    font-size: 1vw;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

.btn2 {
    width: 15vw;
    height: 2.5vw;
    margin-left: 0%;
    background-color: red;
}

.btn3 {
    margin-top: 80px;
    margin-left: -13%;
    width: 25vw;
    height: 2.5vw;
    font-size: 1.3vw;
    text-align: center;
    background-color: #A1DD70;
    border-radius: 50%;
}

.crear {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 700px;
    gap: 20px;
    margin-left: 20%;
}

.banner-inicio picture {
    display: block;
    width: 100%;
    height: 20vw;
}

.banner-inicio img {
    width: 100%;
    height: 95%;
}

.logo {
    margin-left: 37%;
}

.final img {
    height: 5vw;
    width: 10vw;

}

.logout {
    margin-left: 90%;
}