body {
    background-image: linear-gradient(to bottom, #FFF2E1, #EAD8C0, #D1BB9E, #A79277);
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 3.5vw;
}

h2 {
    text-align: center;
    font-family: cursive;
    font-size: 2.5vw;
}

h4 {
    text-align: center;
    font-family: cursive;
    font-size: 1.5vw;
    margin-left: 65%;
}

td {
    text-align: center;
    font-family: cursive;
    font-size: 1vw;
    border: solid;
    padding: 5px;
}

table {
    border: solid;
    width: 100%;
}

/* Marquee */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #EAD8C0;
    padding: 10px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
    font-size: 1.2vw;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.logo {
    border-radius: 50%;
    height: 150px;
    width: 200px;
}

.logos {
    display: flex;
    justify-content: center;
}

input,
select {
    margin-left: 40%;
    width: 20vw;
    height: 2.5vw;
    font-family: cursive;
    font-size: 1vw;
    font-weight: bolder;
    box-shadow: 10px 10px 5px -4px rgba(170, 161, 161, 0.75);
    text-align: center;
    border: solid;
    cursor: pointer;
}

.btn3:hover,
.btn2:hover,
.btn1:hover{
    background-color: grey;
}

.btn1 {
    width: 15vw;
    height: 2.5vw;
    margin-left: 0%;
    background-color: yellow;
}

.btn2 {
    width: 15vw;
    height: 2.5vw;
    margin-left: 0%;
    background-color: red;
}

.btn3 {
    margin-top: 50px;
    margin-left: -13%;
    width: 25vw;
    height: 2.5vw;
    text-align: center;
    background-color: #416D19;
    border-radius: 50%;
}

 

.crear{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 700px;
    gap: 20px;
    margin-left: 20%;
}

