<%- include('partials/head3') -%>

  <body class="fondo-bienvenido">

    <header>
      <h1> Base de Datos de "Mío Sole"</h1>
    </header>

    <div>
      <a href="/index.html" class="logo2"><img
          class="bienvenido animate__animated animate__slow	2s animation-fill-mode: backwards; animate__zoomInDown "
          src="/img/jpg/Mío3.jpg" alt="..."></a>
    </div>
    <main>
      <div class="dropdown">
        <a class="dropdown-item" href="/producto">Lista de Productos</a>

      </div>

    </main>