<footer>
	
	<div class="marquee">
        <span>Todos los derechos reservados - Mío Sole - Copyright &copy; -2024 - Huerta Grande, Córdoba -
          Argentina</span>
      </div>

	  <!-- Logo -->
	  <div>
		<a href="index.html"><img class="logo" src="/img/webp/Mío3.webp" alt="logo"></a>
	  </div>

	  
  </footer>