<footer>
	
	<div class="marquee">
        <span>Todos los derechos reservados - Mío Sole - Copyright &copy; -2024 - Huerta Grande, Córdoba -
          Argentina</span>
      </div>
<br>
<br>
	  <!-- Logo -->
	  <div class="logos">
		<a href="index.html"><img class="logo" src="/img/webp/Mío14.webp" alt="logo" style="width: 200px;" height="150px"></a>
	  </div>

	  
  </footer>